Predict demand for new stations
===================

Using the loaded and processed turnstile data and the demographic details of the part of Manhattan the Second Ave subway will run through, we can predict the number of riders that will be joining the system following the construction of two new stations (at 116th and 125th St). I expect to see a difference in the 456 trains based on the availability of the new stations at 96th and 86th St, and use that difference to quantify what will happen with two more stations.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [2]:
demo_db = 'demographics'
station_db = 'stations'
username = 'mikemoran'

demographics = create_engine(f'postgres://{username}@localhost/{demo_db}')
stations = create_engine(f'postgres://{username}@localhost/{station_db}')

In [3]:
conn = psycopg2.connect(database=demo_db, user=username)

# query:
sql_query = """
SELECT * FROM demographics_nyc_table;
"""
demo_from_sql = pd.read_sql_query(sql_query, conn)
demo_from_sql.head()

,index,commute_car,commute_public,commute_walk,employed,mean_commute_minutes,median_income,neighborhood,population
0,0,1467,16331,2407,22315,35.0,26099,East Harlem North,47371
1,1,1564,17124,4050,25095,33.2,35857,East Harlem South,49229
2,2,3153,25407,12422,49080,29.5,98797,Lenox Hill-Roosevelt Island,69894
3,3,2697,14528,5487,30007,26.7,155213,Upper East Side-Carnegie Hill,49172
4,4,3463,32344,6899,51031,33.3,98840,Yorkville,71578